@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,200..900;1,200..900&display=swap');  

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Work Sans', sans-serif;
    }
    :root {

        --color-light-primary: #121C40;
        --color-light-secondary: #172554;
        --color-light-ternary: #1E3A8A;
        --color-light-border: #E2E8F0;
        --color-light-hover: #E2E8F0;
        --color-light-background: #F1F5F9;
        --color-light-base: #FFFFFF;

        --color-dark-primary: #F1F5F9;
        --color-dark-secondary: #E2E8F0;
        --color-dark-ternary: #CBD5E1;
        --color-dark-border: #1E293B;
        --color-dark-hover: #1E293B;
        --color-dark-background: #0F172A;
        --color-dark-base: #171717;


        --color-light-definition-primary: var(--color-light-background);
        --color-light-definition-secondary: var(--color-light-secondary);
        --color-light-definition-ternary: var(--color-light-ternary);
        --color-light-definition-border: var(--color-light-border);
        --color-light-definition-hover: var(--color-light-hover);
        --color-light-definition-background: var(--color-light-background);

        --color-dark-definition-primary: var(--color-dark-background);
        --color-dark-definition-secondary: var(--color-dark-secondary);
        --color-dark-definition-ternary: var(--color-dark-ternary);
        --color-dark-definition-border: var(--color-dark-border);
        --color-dark-definition-hover: var(--color-dark-hover);
        --color-dark-definition-background: var(--color-dark-background);

        --color-light-lore-primary: var(--color-light-background);
        --color-light-lore-secondary: var(--color-light-secondary);
        --color-light-lore-ternary: var(--color-light-ternary);
        --color-light-lore-border: var(--color-light-border);
        --color-light-lore-hover: var(--color-light-hover);
        --color-light-lore-background: var(--color-light-background);

        --color-dark-lore-primary: var(--color-dark-background);
        --color-dark-lore-secondary: var(--color-dark-secondary);
        --color-dark-lore-ternary: var(--color-dark-ternary);
        --color-dark-lore-border: var(--color-dark-border);
        --color-dark-lore-hover: var(--color-dark-hover);
        --color-dark-lore-background: var(--color-dark-background);


        --color-light-explication-primary: var(--color-light-background);
        --color-light-explication-secondary: var(--color-light-secondary);
        --color-light-explication-ternary: var(--color-light-ternary);
        --color-light-explication-border: var(--color-light-border);
        --color-light-explication-hover: var(--color-light-hover);
        --color-light-explication-background: var(--color-light-background);

        --color-dark-explication-primary: var(--color-dark-background);
        --color-dark-explication-secondary: var(--color-dark-secondary);
        --color-dark-explication-ternary: var(--color-dark-ternary);
        --color-dark-explication-border: var(--color-dark-border);
        --color-dark-explication-hover: var(--color-dark-hover);
        --color-dark-explication-background: var(--color-dark-background);


        --color-light-statistic-primary: var(--color-light-background);
        --color-light-statistic-secondary: var(--color-light-secondary);
        --color-light-statistic-ternary: var(--color-light-ternary);
        --color-light-statistic-border: var(--color-light-border);
        --color-light-statistic-hover: var(--color-light-hover);
        --color-light-statistic-background: var(--color-light-background);


        --color-dark-statistic-primary: var(--color-dark-background);
        --color-dark-statistic-secondary: var(--color-dark-secondary);
        --color-dark-statistic-ternary: var(--color-dark-ternary);
        --color-dark-statistic-border: var(--color-dark-border);
        --color-dark-statistic-hover: var(--color-dark-hover);
        --color-dark-statistic-background: var(--color-dark-background);
    }

    [data-theme='polychrome'] {
        --color-light-definition-primary: #172554;
        --color-light-definition-secondary: #1E3A8A;
        --color-light-definition-ternary: #1D4ED8;
        --color-light-definition-border: #DBEAFE;
        --color-light-definition-hover: #DBEAFE;
        --color-light-definition-background: #EFF6FF;

        --color-dark-definition-primary: #DBEAFE;
        --color-dark-definition-secondary: #BFDBFE;
        --color-dark-definition-ternary: #3B82F6;
        --color-dark-definition-border: #172554;
        --color-dark-definition-hover: #172554;
        --color-dark-definition-background: #172554;

        --color-light-lore-primary: #022C22;
        --color-light-lore-secondary: #064E3B;
        --color-light-lore-ternary: #047857;
        --color-light-lore-border: #D1FAE5;
        --color-light-lore-hover: #D1FAE5;
        --color-light-lore-background: #ECFDF5;

        --color-dark-lore-primary: #ECFDF5;
        --color-dark-lore-secondary: #D1FAE5;
        --color-dark-lore-ternary: #10B981;
        --color-dark-lore-border: #022C22;
        --color-dark-lore-hover: #022C22;
        --color-dark-lore-background: #022C22;


        --color-light-explication-primary: #4C0519;
        --color-light-explication-secondary: #881337;
        --color-light-explication-ternary: #BE123C;
        --color-light-explication-border: #FFE4E6;
        --color-light-explication-hover: #FFE4E6;
        --color-light-explication-background: #FFF1F2;

        --color-dark-explication-primary: #FFF1F2;
        --color-dark-explication-secondary: #FFE4E6;
        --color-dark-explication-ternary: #F43F5E;
        --color-dark-explication-border: #4C0519;
        --color-dark-explication-hover: #4C0519;
        --color-dark-explication-background: #4C0519;
        

        --color-light-statistic-primary: #422006;
        --color-light-statistic-secondary: #713F12;
        --color-light-statistic-ternary: #EAB308;
        --color-light-statistic-border: #FEF9C3;
        --color-light-statistic-hover: #FEF9C3;
        --color-light-statistic-background: #FEFCE8;


        --color-dark-statistic-primary: #FEFCE8;
        --color-dark-statistic-secondary: #FEF9C3;
        --color-dark-statistic-ternary: #EAB308;
        --color-dark-statistic-border: #422006;
        --color-dark-statistic-hover: #422006;
        --color-dark-statistic-background: #422006;
    }
}