@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,200..900;1,200..900&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: 'Work Sans';
        --font-header: 'Poppins';

        --color-primary: #121C40;
        --color-secondary: #172554;
        --color-ternary: #1E3A8A;
        --color-border: #E2E8F0;
        --color-hover: #E2E8F0;
        --color-background: #F1F5F9;
        --color-base: #FFFFFF;

        --color-definition-primary: var(--color-primary);
        --color-definition-secondary: var(--color-secondary);
        --color-definition-ternary: var(--color-ternary);
        --color-definition-border: var(--color-border);
        --color-definition-hover: var(--color-hover);
        --color-definition-background: var(--color-background);

        --color-etymology-primary: var(--color-primary);
        --color-etymology-secondary: var(--color-secondary);
        --color-etymology-ternary: var(--color-ternary);
        --color-etymology-border: var(--color-border);
        --color-etymology-hover: var(--color-hover);
        --color-etymology-background: var(--color-background);

        --color-explanation-primary: var(--color-primary);
        --color-explanation-secondary: var(--color-secondary);
        --color-explanation-ternary: var(--color-ternary);
        --color-explanation-border: var(--color-border);
        --color-explanation-hover: var(--color-hover);
        --color-explanation-background: var(--color-background);

        --color-relation-primary: var(--color-primary);
        --color-relation-secondary: var(--color-secondary);
        --color-relation-ternary: var(--color-ternary);
        --color-relation-border: var(--color-border);
        --color-relation-hover: var(--color-hover);
        --color-relation-background: var(--color-background);
    }

    html[data-mode='dark'] {
        --color-primary: #F1F5F9;
        --color-secondary: #E2E8F0;
        --color-ternary: #94a3b8;
        --color-border: #1E293B;
        --color-hover: #1E293B;
        --color-background: #0F172A;
        --color-base: #171717;

        --color-definition-primary: var(--color-primary);
        --color-definition-secondary: var(--color-secondary);
        --color-definition-ternary: var(--color-ternary);
        --color-definition-border: var(--color-border);
        --color-definition-hover: var(--color-hover);
        --color-definition-background: var(--color-background);

        --color-etymology-primary: var(--color-primary);
        --color-etymology-secondary: var(--color-secondary);
        --color-etymology-ternary: var(--color-ternary);
        --color-etymology-border: var(--color-border);
        --color-etymology-hover: var(--color-hover);
        --color-etymology-background: var(--color-background);

        --color-explanation-primary: var(--color-primary);
        --color-explanation-secondary: var(--color-secondary);
        --color-explanation-ternary: var(--color-ternary);
        --color-explanation-border: var(--color-border);
        --color-explanation-hover: var(--color-hover);
        --color-explanation-background: var(--color-background);

        --color-relation-primary: var(--color-primary);
        --color-relation-secondary: var(--color-secondary);
        --color-relation-ternary: var(--color-ternary);
        --color-relation-border: var(--color-border);
        --color-relation-hover: var(--color-hover);
        --color-relation-background: var(--color-background);
    }

    html[data-theme='polychrome'] {
        --color-definition-primary: #172554;
        --color-definition-secondary: #1E3A8A;
        --color-definition-ternary: #1D4ED8;
        --color-definition-border: #DBEAFE;
        --color-definition-hover: #DBEAFE;
        --color-definition-background: #EFF6FF;

        --color-etymology-primary: #022C22;
        --color-etymology-secondary: #064E3B;
        --color-etymology-ternary: #047857;
        --color-etymology-border: #D1FAE5;
        --color-etymology-hover: #D1FAE5;
        --color-etymology-background: #ECFDF5;

        --color-explanation-primary: #4C0519;
        --color-explanation-secondary: #881337;
        --color-explanation-ternary: #BE123C;
        --color-explanation-border: #FFE4E6;
        --color-explanation-hover: #FFE4E6;
        --color-explanation-background: #FFF1F2;

        --color-relation-primary: #422006;
        --color-relation-secondary: #713F12;
        --color-relation-ternary: #EAB308;
        --color-relation-border: #FEF9C3;
        --color-relation-hover: #FEF9C3;
        --color-relation-background: #FEFCE8;
    }

    html[data-theme='polychrome'][data-mode='dark'] {
        --color-definition-primary: #DBEAFE;
        --color-definition-secondary: #BFDBFE;
        --color-definition-ternary: #3B82F6;
        --color-definition-border: #172554;
        --color-definition-hover: #172554;
        --color-definition-background: #172554;

        --color-etymology-primary: #ECFDF5;
        --color-etymology-secondary: #D1FAE5;
        --color-etymology-ternary: #10B981;
        --color-etymology-border: #022C22;
        --color-etymology-hover: #022C22;
        --color-etymology-background: #022C22;

        --color-explanation-primary: #FFF1F2;
        --color-explanation-secondary: #FFE4E6;
        --color-explanation-ternary: #F43F5E;
        --color-explanation-border: #4C0519;
        --color-explanation-hover: #4C0519;
        --color-explanation-background: #4C0519;

        --color-relation-primary: #FEFCE8;
        --color-relation-secondary: #FEF9C3;
        --color-relation-ternary: #EAB308;
        --color-relation-border: #422006;
        --color-relation-hover: #422006;
        --color-relation-background: #422006;
    }

    html[data-font="serif"] {
        font-family: 'Source Serif 4';
        --font-header: 'Source Serif 4';
    }
}