@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {

        --color-light-primary: #121C40;
        --color-light-secondary: #172554;
        --color-light-ternary: #1E3A8A;
        --color-light-border: #E2E8F0;
        --color-light-hover: #E2E8F0;
        --color-light-background: #F1F5F9;
        --color-light-base: #FFFFFF;

        --color-dark-primary: #F1F5F9;
        --color-dark-secondary: #E2E8F0;
        --color-dark-ternary: #CBD5E1;
        --color-dark-border: #1E293B;
        --color-dark-hover: #1E293B;
        --color-dark-background: #0F172A;
        --color-dark-base: #171717;


        --color-light-definition-primary: var(--color-light-background);
        --color-light-definition-secondary: var(--color-light-secondary);
        --color-light-definition-ternary: var(--color-light-ternary);
        --color-light-definition-border: var(--color-light-border);
        --color-light-definition-hover: var(--color-light-hover);
        --color-light-definition-background: var(--color-light-background);

        --color-dark-definition-primary: var(--color-dark-background);
        --color-dark-definition-secondary: var(--color-dark-secondary);
        --color-dark-definition-ternary: var(--color-dark-ternary);
        --color-dark-definition-border: var(--color-dark-border);
        --color-dark-definition-hover: var(--color-dark-hover);
        --color-dark-definition-background: var(--color-dark-background);

        --color-light-lore-primary: var(--color-light-background);
        --color-light-lore-secondary: var(--color-light-secondary);
        --color-light-lore-ternary: var(--color-light-ternary);
        --color-light-lore-border: var(--color-light-border);
        --color-light-lore-hover: var(--color-light-hover);
        --color-light-lore-background: var(--color-light-background);

        --color-dark-lore-primary: var(--color-dark-background);
        --color-dark-lore-secondary: var(--color-dark-secondary);
        --color-dark-lore-ternary: var(--color-dark-ternary);
        --color-dark-lore-border: var(--color-dark-border);
        --color-dark-lore-hover: var(--color-dark-hover);
        --color-dark-lore-background: var(--color-dark-background);


        --color-light-examples-primary: var(--color-light-background);
        --color-light-examples-secondary: var(--color-light-secondary);
        --color-light-examples-ternary: var(--color-light-ternary);
        --color-light-examples-border: var(--color-light-border);
        --color-light-examples-hover: var(--color-light-hover);
        --color-light-examples-background: var(--color-light-background);

        --color-dark-examples-primary: var(--color-dark-background);
        --color-dark-examples-secondary: var(--color-dark-secondary);
        --color-dark-examples-ternary: var(--color-dark-ternary);
        --color-dark-examples-border: var(--color-dark-border);
        --color-dark-examples-hover: var(--color-dark-hover);
        --color-dark-examples-background: var(--color-dark-background);


        --color-light-statistics-primary: var(--color-light-background);
        --color-light-statistics-secondary: var(--color-light-secondary);
        --color-light-statistics-ternary: var(--color-light-ternary);
        --color-light-statistics-border: var(--color-light-border);
        --color-light-statistics-hover: var(--color-light-hover);
        --color-light-statistics-background: var(--color-light-background);


        --color-dark-statistics-primary: var(--color-dark-background);
        --color-dark-statistics-secondary: var(--color-dark-secondary);
        --color-dark-statistics-ternary: var(--color-dark-ternary);
        --color-dark-statistics-border: var(--color-dark-border);
        --color-dark-statistics-hover: var(--color-dark-hover);
        --color-dark-statistics-background: var(--color-dark-background);
    }

    [data-theme='polychrome'] {
        --color-light-definition-primary: #172554;
        --color-light-definition-secondary: #1E3A8A;
        --color-light-definition-ternary: #1D4ED8;
        --color-light-definition-border: #DBEAFE;
        --color-light-definition-hover: #DBEAFE;
        --color-light-definition-background: #EFF6FF;

        --color-dark-definition-primary: #DBEAFE;
        --color-dark-definition-secondary: #BFDBFE;
        --color-dark-definition-ternary: #3B82F6;
        --color-dark-definition-border: #172554;
        --color-dark-definition-hover: #172554;
        --color-dark-definition-background: #172554;

        --color-light-lore-primary: #022C22;
        --color-light-lore-secondary: #064E3B;
        --color-light-lore-ternary: #047857;
        --color-light-lore-border: #D1FAE5;
        --color-light-lore-hover: #D1FAE5;
        --color-light-lore-background: #ECFDF5;

        --color-dark-lore-primary: #ECFDF5;
        --color-dark-lore-secondary: #D1FAE5;
        --color-dark-lore-ternary: #10B981;
        --color-dark-lore-border: #022C22;
        --color-dark-lore-hover: #022C22;
        --color-dark-lore-background: #022C22;


        --color-light-examples-primary: #4C0519;
        --color-light-examples-secondary: #881337;
        --color-light-examples-ternary: #BE123C;
        --color-light-examples-border: #FFE4E6;
        --color-light-examples-hover: #FFE4E6;
        --color-light-examples-background: #FFF1F2;

        --color-dark-examples-primary: #FFF1F2;
        --color-dark-examples-secondary: #FFE4E6;
        --color-dark-examples-ternary: #F43F5E;
        --color-dark-examples-border: #4C0519;
        --color-dark-examples-hover: #4C0519;
        --color-dark-examples-background: #4C0519;
        

        --color-light-statistics-primary: #422006;
        --color-light-statistics-secondary: #713F12;
        --color-light-statistics-ternary: #EAB308;
        --color-light-statistics-border: #FEF9C3;
        --color-light-statistics-hover: #FEF9C3;
        --color-light-statistics-background: #FEFCE8;


        --color-dark-statistics-primary: #FEFCE8;
        --color-dark-statistics-secondary: #FEF9C3;
        --color-dark-statistics-ternary: #EAB308;
        --color-dark-statistics-border: #422006;
        --color-dark-statistics-hover: #422006;
        --color-dark-statistics-background: #422006;
    }
}