---
import Lexicon from "../../layouts/Lexicon.astro";
import { fetchAll } from "../../utils/fetchAll";

const alphabet = "abcdefghijklmnopqrstuvwxyz".split("");
const { slug } = Astro.params;

if (!alphabet.some(letter => letter.includes(slug.toLowerCase()))) {
	return Astro.redirect("/lexique");
}

const articles = await fetchAll(slug);
const words = articles.filter((article, index, array) => article.entree.toLowerCase().startsWith(slug) && array.findIndex(a => a.entree === article.entree) === index);
---

<Lexicon>
	<div class="flex flex-col justify-start items-start text-primary">
		<h2 class="text-lexicon-letter uppercase -mt-8">{slug}</h2>
		{
			words.map(word => (
				<a href={`/${word.slug}/definition`} class="text-lexicon-word hover:text-ternary">
					{word.abreviation ? word.abreviation + " (" + word.entree + ") " : word.entree}
				</a>
			))
		}
	</div>
</Lexicon>
