---
import Lexicon from "../../layouts/Lexicon.astro";
import LexiconLetter from "../../components/Lexicon-letter.astro";
---

<Lexicon>
    <div class="grid max-w-xs grid-cols-4 gap-8 font-header sm:max-w-md sm:grid-cols-7 md:max-w-none">
        <LexiconLetter letter="a" />
        <LexiconLetter letter="b" />
        <LexiconLetter letter="c" />
        <LexiconLetter letter="d" />
        <LexiconLetter letter="e" />
        <LexiconLetter letter="f" />
        <LexiconLetter letter="g" />
        <LexiconLetter letter="h" />
        <LexiconLetter letter="i" />
        <LexiconLetter letter="j" />
        <LexiconLetter letter="k" />
        <LexiconLetter letter="l" />
        <LexiconLetter letter="m" />
        <LexiconLetter letter="n" />
        <LexiconLetter letter="o" />
        <LexiconLetter letter="p" />
        <LexiconLetter letter="q" />
        <LexiconLetter letter="r" />
        <LexiconLetter letter="s" />
        <LexiconLetter letter="t" />
        <LexiconLetter letter="u" />
        <LexiconLetter letter="v" />
        <LexiconLetter letter="w" />
        <LexiconLetter letter="x" />
        <LexiconLetter letter="y" />
        <LexiconLetter letter="z" />
    </div>
</Lexicon>
