---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Searchbar from "../components/Searchbar.svelte";
---

<Layout title="Le dico du geek | Accueil">
	<Header homepage />
	<main class="grow min-h-screen">
		<div class="flex justify-center pt-24 pb-48 bg-primary dark:bg-background">
			<Searchbar size="lg" client:load />
		</div>
	</main>
	<Footer />
</Layout>
