---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Le dico du geek | Accueil">
	<Header homepage />
	<main class="grow min-h-screen bg-light-primary"></main>
	<Footer />
</Layout>
