---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Searchbar from "../components/Searchbar.svelte";
import ThemeSwitch from "../components/Settings/ThemeSwitch.astro";
import DarkModeSwitch from "../components/Settings/DarkModeSwitch.astro";
import Icon from "astro-icon";
import FontSwitch from "../components/Settings/FontSwitch.astro";
import TextSizeCounter from "../components/Settings/TextSizeCounter.astro";
import ContentHeader from "../components/Content/ContentHeader.astro";
import Presentation from "../components/presentation.astro";
export const prerender = true;
---

<Layout title="Accueil" isHomepage>
    <Header homepage />
    <main class="grow overflow-hidden">
        <div class="flex justify-center bg-primary pb-48 pt-24 dark:bg-background">
            <div class="flex w-3/4 flex-col gap-y-4 md:w-2/3 lg:w-1/2">
                <Searchbar size="lg" url={import.meta.env.API_URL} client:load />
                <!-- <div class="scrollbar-hide flex touch-pan-x gap-2 overflow-x-auto">
                    {tags.map((tag) => <Tag text={tag.title} slug={tag.slug} />)}
                </div> -->
            </div>
        </div>
        <Presentation
            page="definition"
            icon="search-alt-bold"
            header="Définition"
            paragraph={`Plongez dans l'univers des termes liés à la culture geek et à l'univers numérique en consultant notre dictionnaire en ligne, qui vous propose des définitions
				claires et concises sur tout ce qui concerne les jeux vidéo, les films, les séries, les technologies, les mèmes, les réseaux sociaux, internet et bien plus encore.`}
        />
        <Presentation
            page="etymology"
            icon="hourglass-end-bold"
            header="Étymologie"
            paragraph={`La section d'histoire des mots vous permet d'explorer l'évolution des termes d’internet. Découvrez les origines, les significations antérieures et les changements de sens qui ont eu lieu au fil du temps. De la racine latine ou grecque d'un mot à son utilisation contemporaine, explorez l'histoire linguistique de chaque terme.`}
        />
        <Presentation
            page="explanation"
            icon="edit-bold"
            header="Explication"
            paragraph={`Découvrez comment chaque mot peut être utilisé dans des contextes variés grâce à la section d'exemples concrets, pour une compréhension complète de leur signification et une immersion dans leur utilisation.`}
        />
        <Presentation
            page="relation"
            icon="link-bold"
            header="Relation"
            paragraph={`Plongez-vous dans un voyage à travers les connexions qui façonnent la culture geek et laissez-vous surprendre par les associations inattendues qui vous attendent.`}
        />
        <div class="relative h-[1464px] md:h-[2164px] lg:h-[1664px]">
            <span
                class="absolute left-14 top-32 font-marker text-6xl text-relation-primary before:absolute before:-inset-1 before:top-8 before:-z-10 before:block before:h-2/3 before:-rotate-[3deg] before:bg-relation-border dark:text-relation-secondary md:left-28 md:top-64 lg:left-20 lg:top-[500px]"
                >Changez de thème</span
            >
            <Icon
                name="homepage/arrow"
                class="absolute z-10 hidden transform fill-relation-primary dark:fill-relation-secondary md:right-4 md:top-[350px] md:block md:w-[360px] md:rotate-90 md:-scale-y-150 lg:left-1/4 lg:top-[450px] lg:w-[480px] lg:-rotate-6 lg:scale-y-100"
            />
            <div
                class="absolute left-1/2 top-0 w-[1000px] -translate-x-1/2 -translate-y-16 md:left-auto md:top-60 md:w-[896px] md:translate-x-0 md:translate-y-0 lg:-right-16 lg:top-0"
            >
                <div class="relative">
                    <Icon
                        name="homepage/blob-themes"
                        class="-z-10 rotate-180 scale-y-50 transform fill-relation-background md:scale-y-100"
                    />
                    <div class="absolute left-1/2 top-1/2 z-50 max-w-sm -translate-x-1/2 -translate-y-1/2 md:max-w-lg">
                        <ThemeSwitch page="relation" size="lg" />
                        <DarkModeSwitch page="relation" size="lg" />
                    </div>
                </div>
            </div>
            <div
                class="absolute bottom-[600px] left-8 flex rotate-3 flex-col gap-6 font-marker text-4xl text-etymology-primary dark:text-etymology-secondary md:bottom-[800px] md:left-auto md:right-20 md:text-6xl lg:bottom-[512px]"
            >
                <span
                    class="relative before:absolute before:-left-4 before:right-8 before:top-4 before:-z-10 before:block before:h-2/3 before:-rotate-1 before:-skew-x-6 before:bg-etymology-border"
                    >Personnalisez la</span
                >
                <span
                    class="relative before:absolute before:-right-2 before:left-8 before:top-0 before:-z-10 before:block before:h-full before:rotate-1 before:bg-etymology-border"
                    >police d'écriture</span
                >
            </div>
            <Icon
                name="homepage/arrow"
                class="absolute bottom-[550px] z-10 hidden -scale-x-100 -scale-y-150 transform fill-etymology-primary dark:fill-etymology-secondary md:left-16 md:block md:w-[360px] md:-rotate-90 lg:bottom-[200px] lg:left-auto lg:right-1/4 lg:w-[480px] lg:-rotate-12 lg:scale-y-100"
            />
            <div
                class="absolute -bottom-32 left-1/2 w-[1000px] -translate-x-1/2 md:-right-24 md:bottom-0 md:left-auto md:w-[896px] md:translate-x-0 lg:-left-24 lg:right-auto"
            >
                <div class="relative">
                    <Icon
                        name="homepage/blob-fonts"
                        class="-z-10 scale-y-50 transform fill-etymology-background md:rotate-180 md:scale-y-100 lg:rotate-0"
                    />
                    <div
                        class="absolute left-1/2 top-1/2 z-50 w-full max-w-xs -translate-x-1/2 -translate-y-1/2 md:w-[512px] md:max-w-none"
                    >
                        <TextSizeCounter page="etymology" size="lg" />
                        <FontSwitch page="etymology" size="lg" />
                    </div>
                </div>
            </div>
        </div>
        <div
            class="relative left-1/2 mb-32 flex max-w-min -translate-x-1/2 flex-col items-center rounded-lg border border-border p-8 shadow-sm lg:max-w-2xl"
        >
            <ContentHeader
                page="definition"
                title="Lorem Ipsum"
                pronounciation="lɔʁɛm‿ ipsɔm"
                tags={["Essayez", "par", "vous", "même"]}
            />
            <article class="prose text-paragraph text-primary">
                <p>
                    Lorem ipsum dolor sit amet. At odio quia At voluptatem quia qui accusamus quaerat. Et repudiandae
                    similique eum debitis autem ut nostrum temporibus cum dicta velit qui unde quia vel esse distinctio
                    sit debitis maxime. Est omnis voluptate qui rerum quae eos reprehenderit minus aut nihil amet eum
                    accusantium quia ab repudiandae officia. Ut recusandae beatae est excepturi quasi id pariatur
                    voluptatem in fuga eligendi et vitae itaque! Non dolor asperiores qui aliquam fuga et sint sunt vel
                    tempore nulla qui perspiciatis laboriosam sit doloribus omnis aut obcaecati ducimus? Non inventore
                    veniam eos minima quia et debitis aliquam a internos omnis et repellat consectetur in dolor
                    adipisci. Eos enim asperiores ea facilis aperiam a omnis laboriosam vel ipsum galisum et quia
                    aliquam rem illum doloremque. Et deleniti assumenda ut voluptatibus enim hic exercitationem fugiat
                    non soluta corporis aut eveniet iure. Ut laborum totam et quae quasi ut architecto enim et atque
                    deleniti.
                </p><p>
                    At numquam fugiat sed aliquid voluptatum qui praesentium nisi. Qui repudiandae autem est voluptatem
                    quis ut odit atque. Eos itaque explicabo id consectetur dolor aut facere exercitationem et sint quis
                    et quis assumenda in ratione tempore. Quo distinctio sapiente et debitis saepe qui delectus enim.
                    Hic error dolores et explicabo ipsa et officia sunt est necessitatibus illo in molestiae illo aut
                    doloribus fugiat qui velit nihil.
                </p>
            </article>
        </div>
    </main>
    <Footer />
</Layout>

<style>
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
        -webkit-overflow-scrolling: touch;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
</style>
