---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Le dico du geek | Mentions légales">
	<Header />
	<main class="grow">
		<section class="flex flex-col px-16 gap-y-8 text-paragraph text-light-primary dark:text-dark-primary">
			<h1 class="text-4xl font-bold text-center py-8">Mentions légales</h1>
			<div>
				<h2 class="text-2xl font-bold pb-4">Créateur du site et licence</h2>
				<p>Le site "Le dico du Geek" à été réalisé par <b>Alexis De Chiara</b> sous licence <b>MIT</b></p>
			</div>
			<div>
				<h2 class="text-2xl font-bold pb-4">Propriétés intellectuelle</h2>
				<p>
					Icons de Uicons réalisé par <a class="underline text-light-ternary dark:text-dark-ternary hover:opacity-75" href="https://www.flaticon.com/uicons">Flaticon</a>
				</p>
			</div>
			<div>
				<h2 class="text-2xl font-bold pb-4">Hébergeur du site</h2>
				<p>Le site <b>Le dico du Geek</b> est hébergé chez OVH :</p>
				<br />
				<p>RCS Lille Métropole 424 761 419 00045</p>
				<p>Code APE 2620Z</p>
				<p>N° TVA : FR 22 424 761 419</p>
				<p>Siège social : 2 rue Kellermann - 59100 Roubaix - France</p>
				<br />
				<p>OVH SAS est une filiale de la société OVH Groupe SA, société immatriculée au RCS de Lille sous le numéro 537 407 926 sise 2, rue Kellermann, 59100 Roubaix.</p>
			</div>
		</section>
	</main>
	<Footer />
</Layout>
