---
export interface Props {
	page?: string;
}

const { page } = Astro.props;
---

<footer
	class:list={[
		page ? `text-${page}-primary border-${page}-border` : "text-primary border-border",
		"flex w-full justify-between items-center text-footer text-center mb-20 md:mb-0 px-4 h-24 md:h-8 border-t",
	]}>
	<span>Site sous licence MIT</span>
	<a href="/mentions-legales" class="underline">Mentions légales</a>
	<span>Réalisé par Alexis De Chiara</span>
</footer>
