---
import { Icon } from "astro-icon";
import Searchbar from "./Searchbar.svelte";

export interface Props {
	homepage?: boolean;
}

const { homepage } = Astro.props;
---

<header class:list={[homepage ? "bg-primary dark:bg-background" : "bg-base", "flex w-full h-[75px] items-center justify-between text-lg font-sans"]}>
	<a href="/" class="font-[poppins] flex w-[280px] h-full items-center justify-center gap-2">
		<Icon name="book" class:list={[homepage ? "fill-background dark:fill-primary" : "fill-primary", "h-12"]} />
		<div class:list={[homepage ? "text-background dark:text-primary" : "text-primary", "flex flex-col justify-center pt-1"]}>
			<span class="font-bold text-2xl">Le dico du geek</span>
			<div class="flex w-full font-headers font-bold justify-end text-xs -mt-1">
				by&nbsp;<span class="text-[#4285F4]">G</span><span class="text-[#DB4437]">E</span><span class="text-[#F4B400]">E</span><span class="text-[#0F9D58]">K</span><span
					class="font-pacifico font-medium">ly</span
				>
			</div>
		</div>
	</a>
	{!homepage && <Searchbar client:load />}

	<div class="relative flex w-[250px] h-full items-center justify-end gap-8 px-8">
		{homepage && <Icon name="bookmark" class="absolute left-0 top-0 h-[75px]" />}
		<a
			href="/lexique"
			class:list={[
				homepage ? "text-background hover:bg-secondary dark:text-primary hover:dark:bg-hover" : "text-primary hover:bg-hover hover:dark:bg-ternary",
				"px-2 py-2 uppercase text-header rounded-md transition-colors ",
			]}>
			Lexique
		</a>
	</div>
</header>
