---
const { slug } = Astro.params;

import Layout from "../../layouts/Layout.astro";
import Content from "../../layouts/Content.astro";
import ContentHeader from "../../components/Content/ContentHeader.astro";
import { Markdown } from "astro-remote";

const response = await fetch("http://localhost:8055/graphql", {
	method: "POST",
	headers: { "Content-Type": "application/json" },
	body: JSON.stringify({
		query: `
			query getDefinitionPage($slug: String){
				page (filter: {articles: {slug: { _eq: $slug }}}) {
					titre
					articles (filter: {status: {_eq: "published"}}) {
						entree
						abreviation
						phonetique
						sens {
							sens_id (filter: {status: {_eq: "published"}}) {
								etymologie
							}
						}
					}
				}
			}
        `,
		variables: {
			slug: slug,
		},
	}),
});

const json = await response.json();
const data = json.data;
const page = "lore";
---

<Layout title={"Le dico du geek | " + data.page[0].titre}>
	<Content page="lore">
		<h1 class="sr-only">{data.page[0].titre}</h1>
		{
			data.page[0].articles.map(article => (
				<div class="mb-8">
					<ContentHeader page={page} title={article.entree} tags={[]} />
					{article.sens.map(sens => (
						<h2 class="sr-only">Histoire</h2>
						<div class="mb-16 gap-y-6">
							<article class="inline prose prose-lore prose-headings:text-4xl prose-h3:font-bold prose-h4:text-2xl prose-h4:font-semibold text-paragraph text-justify">
								<Markdown content={sens.sens_id.etymologie} components={{ h1: "h3", h2: "h4" }} />
							</article>
						</div>
					))}
				</div>
			))
		}
	</Content>
</Layout>
