---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Le dico du geek | Lexique">
	<Header />
	<main class="grow">
		<section class="flex flex-col justify-center items-center gap-8 text-light-primary dark:text-dark-primary h-full">
			<h1 class="text-lexicon-word font-bold text-center pt-8">Lexique</h1>
			<slot />
		</section>
	</main>
	<Footer />
</Layout>
